USE [BLOGGER]
GO
/****** Object:  Table [dbo].[BLOG]    Script Date: 09/16/2016 14:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BLOG](
	[BLOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[BLOG_NOMBRE] [varchar](20) NULL,
 CONSTRAINT [PK_BLOG] PRIMARY KEY NONCLUSTERED 
(
	[BLOG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BLOG] ON
INSERT [dbo].[BLOG] ([BLOG_ID], [BLOG_NOMBRE]) VALUES (1, N'Blog_nombre')
SET IDENTITY_INSERT [dbo].[BLOG] OFF
/****** Object:  Table [dbo].[POST]    Script Date: 09/16/2016 14:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[POST](
	[POST_ID] [int] IDENTITY(1,1) NOT NULL,
	[BLOG_ID] [int] NOT NULL,
	[POST_FECHA] [datetime] NULL,
	[POST_TITULO] [varchar](100) NULL,
	[POST_DESCRIPCION] [text] NULL,
	[POST_IMAGEN] [text] NULL,
	[POST_TAGS] [text] NULL,
	[POST_NOMBREAUTOR] [varchar](50) NULL,
 CONSTRAINT [PK_POST] PRIMARY KEY NONCLUSTERED 
(
	[POST_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [BLOGCONTIENEPOST_FK] ON [dbo].[POST] 
(
	[BLOG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[POST] ON
INSERT [dbo].[POST] ([POST_ID], [BLOG_ID], [POST_FECHA], [POST_TITULO], [POST_DESCRIPCION], [POST_IMAGEN], [POST_TAGS], [POST_NOMBREAUTOR]) VALUES (25, 1, CAST(0x0000A640011B7730 AS DateTime), N'Titulo Post Uno', N'Descripción Post Uno', N'', N'tag1,tag2,tag3', N'Ricardo Fuentes')
INSERT [dbo].[POST] ([POST_ID], [BLOG_ID], [POST_FECHA], [POST_TITULO], [POST_DESCRIPCION], [POST_IMAGEN], [POST_TAGS], [POST_NOMBREAUTOR]) VALUES (26, 1, CAST(0x0000A65B00ADF0E8 AS DateTime), N'Titulo Post Dos', N'Descripción Post Dos', N'', N'tag4,tag5,tag6', N'Marcela Quintanilla')
INSERT [dbo].[POST] ([POST_ID], [BLOG_ID], [POST_FECHA], [POST_TITULO], [POST_DESCRIPCION], [POST_IMAGEN], [POST_TAGS], [POST_NOMBREAUTOR]) VALUES (27, 1, CAST(0x0000A58F009AE390 AS DateTime), N'Titulo Post Tres', N'Descripción Post Tres', N'', N'tag7,tag8,tag9', N'José de la Torre')
SET IDENTITY_INSERT [dbo].[POST] OFF
/****** Object:  Table [dbo].[COMENTARIO]    Script Date: 09/16/2016 14:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMENTARIO](
	[COM_ID] [int] IDENTITY(1,1) NOT NULL,
	[POST_ID] [int] NOT NULL,
	[COM_FECHA] [datetime] NULL,
	[COM_NOMBREAUTOR] [varchar](50) NULL,
	[COM_DETALLE] [text] NULL,
 CONSTRAINT [PK_COMENTARIO] PRIMARY KEY NONCLUSTERED 
(
	[COM_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [POSTCONTIENECOMENTARIOS_FK] ON [dbo].[COMENTARIO] 
(
	[POST_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[COMENTARIO] ON
INSERT [dbo].[COMENTARIO] ([COM_ID], [POST_ID], [COM_FECHA], [COM_NOMBREAUTOR], [COM_DETALLE]) VALUES (6, 26, CAST(0x0000A68300CA8A7B AS DateTime), N'Un Nombre de Persona', N'kljkl')
INSERT [dbo].[COMENTARIO] ([COM_ID], [POST_ID], [COM_FECHA], [COM_NOMBREAUTOR], [COM_DETALLE]) VALUES (7, 26, CAST(0x0000A68300CAB282 AS DateTime), N'Un Nombre de Persona', N'lñlñlñ')
INSERT [dbo].[COMENTARIO] ([COM_ID], [POST_ID], [COM_FECHA], [COM_NOMBREAUTOR], [COM_DETALLE]) VALUES (8, 26, CAST(0x0000A68300E64E80 AS DateTime), N'Un Nombre de Persona', N'crear otro registro')
SET IDENTITY_INSERT [dbo].[COMENTARIO] OFF
/****** Object:  ForeignKey [FK_POST_BLOGCONTI_BLOG]    Script Date: 09/16/2016 14:31:22 ******/
ALTER TABLE [dbo].[POST]  WITH CHECK ADD  CONSTRAINT [FK_POST_BLOGCONTI_BLOG] FOREIGN KEY([BLOG_ID])
REFERENCES [dbo].[BLOG] ([BLOG_ID])
GO
ALTER TABLE [dbo].[POST] CHECK CONSTRAINT [FK_POST_BLOGCONTI_BLOG]
GO
/****** Object:  ForeignKey [FK_COMENTAR_POSTCONTI_POST]    Script Date: 09/16/2016 14:31:22 ******/
ALTER TABLE [dbo].[COMENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_COMENTAR_POSTCONTI_POST] FOREIGN KEY([POST_ID])
REFERENCES [dbo].[POST] ([POST_ID])
GO
ALTER TABLE [dbo].[COMENTARIO] CHECK CONSTRAINT [FK_COMENTAR_POSTCONTI_POST]
GO
