#Paging
{
    width:100%;
    float:left;
    text-align:center;
}
ul.pagination
{
    width:200px;
    margin:0px;
    padding:0px;

    margin:10px auto 10px auto;
    clear:both;

    padding-bottom:20px;
    background-color:none;
}
    ul.pagination li
    {
        margin:0px;
        padding:2px;

        width:20px;
        height:10px;
        float:left;

        list-style:none;

        background-color:none;
    }